<div id="main-container">
{{#projects}}
<a href="/{{dir}}" target="_blank">
    <div class="proj-container">
        <p>{{title}}</p>
        <div class='imageCont'>
            <img src="/{{dir}}/thumbnail.png">
        </div>
    </div>
</a>
{{/projects}}
</div>