* {
    box-sizing: border-box;
}
body {
    background-color: white;
}

header {
    padding: 5px;
    margin: 30px;
    border: 0px;
}

#logo {
    height: 20px;
    width: 20px;
    float: left;
}

#menu {
    height: 20px;
    width: 20px;
    float: right;
}

#logo img {
    height: 30px;
}

#menu img {
    height: 30px;
}

.container {
    margin: 30px;
    position: relative;
    background-color: lightgrey;
}

.container img {
    max-width: 100%;
    padding-bottom: 0;
    filter: brightness(70%);
}
