* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: white;
}

header {
    padding: 30px;
    /* margin: 30px; */
    height: 80px;
    border: 0px;
}

#logo {
    height: 20px;
    width: 20px;
    float: left;
}

#menu {
    height: 20px;
    width: 20px;
    float: right;
}

#logo img {
    height: 30px;
}

#menu img {
    height: 30px;
}

.container {
    /* height: 200px; */
    /* height: 600px; */
    /* position: relative; */
    /* overflow: hidden; */
    background-color: lightgrey;
}

.container img {
    width: 100%;
    /* height: 400px; */
    margin: 0px 0px 0px 0px;
    object-fit: fill;
    padding-bottom: 0;
    filter: brightness(70%);

    /* transform: translateX(10%); */
    /* top: 50%; */
}

/* #menu img:hover {
    transform: scale(1.5);
} */
section div {
    display: inline-block;
    /* padding: 20px 50px 10px 50px; */
}

h2 {
    font-family: bookman;
    font-weight: bolder;
}

p {
    font-family: bookman;
    /* word-wrap: normal; */
}

.leftBlock {
    float: left;
}
.rightBlock {
    float: right;
}

section img {
    height: 35px;
}
