* {
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    /* box-sizing: border-box; */
}

body {
    background-color: whitesmoke;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top {
    display: flex;
    flex-direction: column;
    height: 200px;
}

#top > p {
    color: #0a402b;
    font-size: 50px;
    /* text-align: center; */
    padding: 20px;
}

.board-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* position: relative; */
}

#board {
    display: flex;
}

.slot {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: inset 8px 8px 3px 7px rgba(0, 0, 0, 0.5); */
}

.hole {
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 40px solid rgba(0, 38, 66, 1);
    transform: translate(-30px, -30px);
}

.player1 {
    background-color: #840032;
}

.player2 {
    background-color: #eb6b10;
}

.winnerModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a402b;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid black;
    filter: drop-shadow(5px 5px 3px);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    opacity: 0;
    visibility: hidden;
}

.winnerModal p {
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
}

.modalButton {
    margin-top: 15px;
    cursor: pointer;
    z-index: 11;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.modalOn {
    visibility: visible;
    opacity: 0.9;
    /* transition-property: opacity; */
    transition-duration: 1000ms;
    top: 50%;
    left: 50%;
}

.modalOff {
    opacity: 0;
    transition-duration: 700ms;
    visibility: hidden;
}

.selColumn {
    /* border: 40px solid rgba(0, 38, 66, 0.5); */
    opacity: 0.4;
    transition: opacity 0.2s;
}

.scores {
    display: flex;
    justify-content: space-between;
    /* width: 30%; */
}

#bottom {
    /* padding-top: 40px; */
    /* width: 50%;
    height: 120px; */
}

.playerOne {
    background-color: #840032;
    margin: 20px;
    height: 70px;
    width: 130px;
    /* border: 1px solid grey; */
    border-radius: 5% 20%;
    filter: drop-shadow(3px 3px 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerTwo {
    background-color: #eb6b10;
    margin: 20px;
    height: 70px;
    width: 130px;
    /* border: 1px solid grey; */
    border-radius: 5% 20%;
    filter: drop-shadow(3px 3px 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreP {
    font-size: 60px;
    color: whitesmoke;
}
