* {
    background-color: whitesmoke;
    box-sizing: border-box;
}

body {
    height: 90vh;
}

button {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 20;
}
.box {
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    border: 3px solid darkslategray;
}

.bar {
    width: 10px;
    height: 100%;
    background-color: darkslategray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

img {
    width: 894px;
    height: 494px;
    user-select: none;
}

.upper {
    position: absolute;
    left: 0;
    top: 0;
    height: 494px;
    width: 448px; /*this needs to be controlled */
    overflow: hidden;
    z-index: 1;
}
