* {
    box-sizing: border-box;
    margin: 0;
}
body {
}

#head {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
}

.arm {
    height: 2px;
    width: 200px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 60px;
    transform: rotate(-30deg);
    transform-origin: left;
}

#body {
    height: 2px;
    width: 300px;
    background-color: #000;
    position: absolute;
    transform: rotate(90deg);
    top: 269px;
    left: -90px;
}

.arm > .left {
    /* transform: rotateX(150deg); */
    transform: scale(-1, -1);
}
