<div class="desc">
    <nav>
        <p>Projects List</p>
        {{>projects-list}}
    </nav>
    <div class="desc-body">
    {{#selectedProject}}    
        <h2>{{title}}</h2>
        <div class='imageCont'>
        <a href="/{{dir}}" target="_blank">
            <img src="/{{dir}}/screenshot.gif">
        </a>
        </div>
        <div class="description-text">{{description}}</div>
    {{/selectedProject}}
    </div>
</div>