<div class="welcome">
    <h2>Hi, I'm Ariel and this is my portfolio page</h2>
    <br>
    <p>Over the past weeks I've been working hard to materialize all the projects below. Enjoy a virtual tour throughout the gallery!</p>
</div>
<div id="main-container">
    {{>projects-list home=true}}
</div>
