* {
    box-sizing: border-box;
    margin: 0;
}

#canvas {
    /* visibility: hidden; */
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    /* background-color: transparent; */
    /* border: 3px solid black; */
}

#canvasAnim {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: transparent;
    border: 3px solid black;
}

button {
    /* z-index: 10; */
    position: absolute;
    left: 280px;
    top: 55px;
    /* transform: translateX(-50%); */
}
