* {
    box-sizing: border-box;
    margin: 0;
}

#canvas {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: transparent;
    /* border: 3px solid black; */
}

#canvasAnim {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: whitesmoke;
    border: 3px solid black;
}
